#menu {
    .menu__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    @include sp {
        height: 1700px;
    }
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
    }
}

.menu-item {
    width: 25%;

    @include sp {
        width: 100%;
    }
}

.menu__content {
    line-height: 3;
    text-align: center;
    padding: 10px 3vw 0;
    

    &__title {
        white-space: nowrap;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        @include sp {
            text-align: left;
        }
    }

    &__intro {
        line-height: 1.67;
        font-size: 1.6rem;
        text-align: left;
        // margin: 0 10px;
    }
    &__price {
        text-align: right;
    }
}


.pc {
    @include sp {
        display: none;
    }
}

.sp {
    display: none;
    @include sp {
        display: flex;
        justify-content: center;
    }
}